<div class="container" align="center">
    <div class="row">
      <div class="col-8">
        <% @posts.each do |post| %>
        <div class="posts-meta">
          <%= image_tag post.user.image.thumb.url, class: "img-circle" unless post.user.image.blank? %>
          <%= link_to post.user.username, profile_path(post.user.username), class: "text-dark" %>
        </div>
        <%= image_tag post.image.url, class: "img img-fluid" %>
        <% end %>
        </div>
          <div class="col-4">
            <div class="user-profile">
              <p><%= current_user.username %></p>
            </div>
            <div class="follower-suggestions">
            </div>
          </div>
      </div>
</div>
