<div class="container" align="center">
    <div class="row">
      <div class="col-8">
        <% @posts.each do |post| %>
        <div><%= post.user.username unless post.user.blank? %></div>
        <%= image_tag post.image.url, class: "img img-fluid" %>
        <% end %>
        </div>
      </div>
</div>
