// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-meta {
  background: #fff;
  border: 1px solid #575858;
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

.user-profile {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  margin-bottom: 20px;
  background: #fff;
  padding: 10px;
  border: 1px solid #575858;
}

.img-circle {
  border-radius: 50%;
}

.post-details {
  background: #fff;
  padding: 15px;
  border: 1px solid #575858;
  text-align: left;
}

.post-actions {
  margin-bottom: 10px;
  i {
    margin-right: 10px;
    color: #ddd;
    cursor: pointer;
  }
  i:hover {
    color:#999;
  }
  i.active {
    color: #555;
  }
}

body {
  background: #fafafa;
}

img {
  margin-right: 10px;
}
